.project_details {
    background-image: url("../../img/contact3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 60% 100%;
    position: relative;
    background-color: #cb9999;
    width: 100%;
  }
  
  /* .project_details h1,
  .project_details h2,
  .project_details p {
    margin-bottom: 0.5em;

  } */
  
  .project_details h1 {
    color: #000;
    font-family: "Clicker Script", cursive;
  }
  
  .project_details p {
    color: #000;
    padding: 0.4em;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
  }
  
  .details_container{
    padding-bottom: 1.2em;
    margin-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .details_container1{
    padding: 4em;
    padding-bottom: 1.2em;
    margin-bottom: 1.2em;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
  }

  .form {
    width: 30%;
    justify-content: center;
    text-align: center;
  }
  .formContact {
    width: 30%;
    justify-content: left;
    text-align: justify;
  }