.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #7e0000;
  position: relative;
  padding: 0.5em;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.item {
  margin-right: 1em;
}

.item a {
  color: #ffffff;
  text-decoration: none;
}

.item a:hover {
  color: #cb9999;
  text-decoration: none;
}